.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.diary {
  background-image: url('../public/opendiary.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.overlay-input {
  position: absolute;
  top: 40%; /* Adjust based on the position of the book's page */
  left: 20%; /* Adjust based on the position of the book's page */
  width: 60%; /* Adjust to match the book page width */
  height: 30%; /* Adjust to match the book page height */
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  color: #000; /* Change if you want different text color */
  border: none;
  outline: none;
  resize: none; /* Prevent resizing of the textarea */
  font-family: 'Courier New', Courier, monospace;
}

